@font-face {
font-family: 'm300';
    
    src:    url('https://nomail.com.ua/files/eot/bcd826b1e90968390490c28037857940.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/bcd826b1e90968390490c28037857940.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/bcd826b1e90968390490c28037857940.woff2') format('woff2');
}

@font-face { font-family: 'MuseoSansCyrl-300';  src: local('MuseoSansCyrl-300'), url('https://nomail.com.ua/files/woff/bcd826b1e90968390490c28037857940.woff') format('woff'); }

@font-face {
font-family: 'm100';
    
    src:    url('https://nomail.com.ua/files/eot/1913b09835e902f7123ad3ac38b4cd93.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/1913b09835e902f7123ad3ac38b4cd93.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/1913b09835e902f7123ad3ac38b4cd93.woff2') format('woff2');
}

@font-face { font-family: 'MuseoSansCyrl-100';  src: local('MuseoSansCyrl-100'), url('https://nomail.com.ua/files/woff/1913b09835e902f7123ad3ac38b4cd93.woff') format('woff'); }

@font-face {
font-family: 'm900';
    
    src:    url('https://nomail.com.ua/files/eot/73e5c73d4e80e6c080cd1bc5894cf3e8.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/73e5c73d4e80e6c080cd1bc5894cf3e8.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/73e5c73d4e80e6c080cd1bc5894cf3e8.woff2') format('woff2');
}

@font-face { font-family: 'MuseoSansCyrl-900';  src: local('MuseoSansCyrl-900'), url('https://nomail.com.ua/files/woff/73e5c73d4e80e6c080cd1bc5894cf3e8.woff') format('woff'); }

@font-face {
font-family: 'm100i';
    
    src:    url('https://nomail.com.ua/files/eot/e18c9957f7875aef8a74fe577ee3ac38.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e18c9957f7875aef8a74fe577ee3ac38.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e18c9957f7875aef8a74fe577ee3ac38.woff2') format('woff2');
}

@font-face { font-family: 'MuseoSansCyrl-100Italic';  src: local('MuseoSansCyrl-100Italic'), url('https://nomail.com.ua/files/woff/e18c9957f7875aef8a74fe577ee3ac38.woff') format('woff'); }