@media screen and (max-width: 1200px) {
	nav {
		margin-left: 15px;
	}

	.menu__item a {
		font-size: 11px;
	}

	.block {
		height: 315px;
		width: 310px;
	}

	.element__front {
		left: 390px;
	}

	.left-element {
		left: 350px;
	}

	.right-element {
		right: 350px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		border: 1px solid red;
	}

	#header {
		height: 110px;
	}

	.logo__control {
		margin-top: 7px;
	}

	.logo img {
		width: 270px;
	}

	.numbers {
		font-size: 33px;
	}

	.headline__header .headline {
		font-size: 130px;
		letter-spacing: 0px;
	}

	.headline__header span {
		font-size: 80px;
	}

	#sect2 {
		height: 2100px;
	}

	.block {
		margin: 20px auto;
		width: 85%;
		height: 600px;
	}

	.h-text {
		font-size: 65px;
	}

	.text p {
		font-size: 32px;
	}

	
}