@media screen and (max-width: 1200px) {
	nav {
		margin-left: 15px;
	}

	.menu__item a {
		font-size: 11px;
	}

	.block {
		height: 315px;
		width: 310px;
	}

	.element__front {
		left: 390px;
	}

	.left-element {
		left: 350px;
	}

	.right-element {
		right: 350px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		border: 1px solid red;
	}

	#header {
		height: 110px;
	}

	.logo__control {
		margin-top: 7px;
	}

	.logo img {
		width: 270px;
	}

	.numbers {
		font-size: 33px;
	}

	.headline__header .headline {
		font-size: 130px;
		letter-spacing: 0px;
	}

	.headline__header span {
		font-size: 80px;
	}

	#sect2 {
		height: 2100px;
	}

	.block {
		margin: 20px auto;
		width: 85%;
		height: 600px;
	}

	.h-text {
		font-size: 65px;
	}

	.text p {
		font-size: 32px;
	}

	.headline__benefits h1 {
		font-size: 57px;
		letter-spacing: 0px;
	}

	.headline__moving h1 {
		font-size: 60px;
		letter-spacing: 0px;
	}

	#sect3 {
		height: 1200px;
	}

	.quote {
		padding: 10px;
		font-size: 25px;
		border: 1px solid #fff;
		border-radius: 10px;
	}

	.what {
		width: 100%;
		border-radius: 10px;
	}

	.answer h1 {
		font-size: 70px;
	}

	.answer p {
		font-size: 35px;
	}

	.button__control {
		margin-top: 100px;
	}

	.button__control .button, .button__bottom {
		padding: 20px;
		font-size: 50px;
	}

	#sect4 {
		height: 1560px;
	}

	.headline__sect4 h1 {
		font-size: 50px;
	}
	
	.block__first {
		width: 100%;
		height: 100%;
		margin-bottom: 30px;
	}

	.headline__block-one {
		font-size: 50px;
	}

	.block__first p {
		margin: 0 auto;
		width: 93%;
		font-size: 30px;
	}

	.block__bottom {
		width: 100%;
		height: 100%;
	}

	.block__bottom p {
		margin: 0 auto;
		width: 93%;
		font-size: 30px;
	}
}